.singleCard {
  margin-bottom: 20px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.161);
  color: #0e2a35;
  cursor: pointer;
}
.singleCard:hover .bottomLine{
  width: 300px;
}
.titleWrapper {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.cardTitle {
  font-size: 18px;
}
.cardNumber {
  margin-right: 36px;
  color:  #FFFFFF;
  background-color: #00A9A7;
  width: 50px;
  text-align: center;
  font-size: 36px;
  align-items: center;
}

.bottomLine {
  display: block;
  width: 200px;
  border: 2px solid #00ADAA;
}

